In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
dbCredentials = {"host" : "localhost", \
                 "uname" : "root", \
                 "password" : "adminpass", \
                 "dbName2" : "ChicagoDataForMining",
                }
file = open("dbCredentials.txt","r")
lines = file.readlines()
for line in lines:
    vals = line.split("=")
    if(len(vals) == 2):
        if(vals[0] in dbCredentials):
            dbCredentials[vals[0]] = vals[1].replace("\n","")
print(dbCredentials)

{'host': 'localhost', 'uname': 'root', 'password': 'adminpass', 'dbName2': 'ChicagoDataForMining'}

In [3]:
conn = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user=dbCredentials["uname"],
                               pw=dbCredentials["password"],
                               db=dbCredentials["dbName2"]))

In [4]:
CrimesWOHI = pd.read_sql("select * from "+dbCredentials["dbName2"]+".CrimesWithoutHardshipIndex", conn);
pd.set_option('display.expand_frame_repr', False)
CrimesWHI = pd.read_sql("select * from "+dbCredentials["dbName2"]+".CrimesWithHardshipIndex", conn);
pd.set_option('display.expand_frame_repr', False)

In [5]:
CrimesWOHI=CrimesWOHI.fillna(0)
CrimesWOHI.head(5)

   arrest  domestic  district  ward  communityarea  year  latitude  longitude  hour  month  severity  location  weekday  day
0       0         1         9    12             61  2015   41.8151   -87.6700    13      9         1         0        5    5
1       0         0        15    29             25  2015   41.8951   -87.7654    11      9         0         6        4    4
2       0         1         6     8             44  2018   41.7391   -87.6142     0      9         0         0        5    1
3       1         0        14    35             21  2015   41.9374   -87.7167    12      9         0         4        5    5
4       0         1        15    28             25  2015   41.8819   -87.7551    13      9         1         0        5    5

In [6]:
CrimesWHI=CrimesWHI.fillna(0)
CrimesWHI.head(5)

   arrest  domestic  district  ward  communityareanumber  year  latitude  longitude  hour  month  severity  location  day  weekday  income  croudedhousing  belowpoverty  unemployed  uneducated  nonworkingage
0       0         1         9    12                   61  2015   41.8151   -87.6700    13      9         1         0    5        5   12765            11.9          29.0          23        41.5           38.9
1       0         0        15    29                   25  2015   41.8951   -87.7654    11      9         0         6    4        4   15957             6.3          28.6          23        24.4           37.9
2       0         1         6     8                   44  2018   41.7391   -87.6142     0      9         0         0    1        5   18881             3.3          27.8          24        14.5           40.3
3       1         0        14    35                   21  2015   41.9374   -87.7167    12      9         0         4    5        5   20039             6.0          15.3           9        24.7           31.0
4       0         1        15    28                   25  2015   41.8819   -87.7551    13      9         1         0    5        5   15957             6.3          28.6          23        24.4           37.9

In [7]:
notSevereCount = CrimesWOHI['severity'].value_counts()[0]
severeCount = CrimesWOHI['severity'].value_counts()[1]
totalNew = notSevereCount+severeCount
print("Severe = " + str(round((severeCount/totalNew)*100,2)) + "%")
print("Not severe = " + str(round((notSevereCount/totalNew)*100,2)) + "%")

Severe = 28.84%
Not severe = 71.16%

In [8]:
from sklearn.model_selection import train_test_split
def getTestAndTrainSet(crimes):
    classes = crimes["severity"]
    trainCols = [col for col in crimes.columns if col not in ["severity"]]
    crimesTrain = crimes[trainCols]
    x_train, x_test, y_train, y_test = train_test_split(crimesTrain, classes)
    return x_train, y_train, x_test, y_test

# Naive Bayes

Without Harship Index

In [9]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWOHI)
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2) , "%"  )

Accuracy =  77.56 %

With Harship Index

In [10]:
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWHI)
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2) , "%" )

Accuracy =  67.34 %

# Random Forest

Without Harship Index

In [11]:
from sklearn.ensemble import RandomForestClassifier
randf=RandomForestClassifier()
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWOHI)
y_pred = randf.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2) , "%" )

Accuracy =  78.51 %

With Harship Index

In [12]:
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWHI)
y_pred = randf.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2), "%"  )

Accuracy =  78.52 %

# Decision Tree

Without Harship Index

In [13]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWOHI)
y_pred = dt.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2), "%"  )

Accuracy =  68.83 %

With Harship Index

In [14]:
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWHI)
y_pred = dt.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2), "%"  )

Accuracy =  68.73 %

# NN

Without Harship Index

In [15]:
from sklearn.neural_network import MLPClassifier
nn = MLPClassifier(random_state=1, max_iter=300)
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWOHI)
y_pred = nn.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2), "%"  )

Accuracy =  77.54 %

With Harship Index

In [16]:
X_train, y_train, X_test, y_test = getTestAndTrainSet(CrimesWHI)
y_pred = nn.fit(X_train, y_train).predict(X_test)
print("Accuracy = " , round((y_test.to_numpy() == y_pred).sum()/X_test.shape[0] * 100,2), "%"  )

Accuracy =  77.53 %